/*.sp-slides .sp-slide .sp-image {*/
/*height:700px;*/
/*width: 1920px;*/
/*}*/
/*logo css*/
body:not(.header-demo) .header.header.navbar-scrolling .scroll-logo {
    display: block !important;
    height:60px;
    width:202px;
}
.header.header-logo-black .scroll-logo {
    display: block !important;
    height:60px;
    width:202px;

}
/*slider top margin*/
/*.main-slider-2 {*/
    /*margin-top: 1px;*/
/*}*/
/*about us home*/
.b-about__inner {
    padding-right: 320px;
    padding-bottom: 40px;
    background: url("../../assets/media/content/bg/bg-bike.png") no-repeat 100% 55px;
    margin-right: 100px;
}
/*.main-slider-2 {*/
    /*margin-top: 117px;*/
/*}*/

@media only screen and (max-width: 767px) {
  .sp-image-container .sp-image{
display:none;
    }
}



@media screen and (max-width: 1400px) , screen and (max-height: 700px) {
    .carousel-inner{
        height: 100% !important;
    }
}